/* You can add global styles to this file, and also import other style files */
.main-container{
  margin-bottom: 2%;

}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.marginsLateral{
  margin-left: 2%;
  margin-right: 2%;
}

 .eco{
   font-style: italic;

 }
.verde{
     color:#a0d499;
}
.quien{
  width: 70%;
  background-color: #a0d499;
  color: #FFFF;
  margin-left: 6%;
  margin-right: 2%;
}

.top-m{
  margin-top: 3%;
}

.top-5{
  margin-top: 5%;
}

.def{

  margin-left: 2%;
  margin-right: 6%;
  border: #a0d499 5px solid;
}

.quiender{
  width: 70%;
  background-color: #a0d499;
  color: #FFFF;
  margin-left: 2%;
  margin-right: 6%;
}

.defizq{
  border: #a0d499 5px solid;
  margin-left: 6%;
  margin-right: 2%;
}

.subtitulos{
  border-style: solid;
}

.margenes{
  margin-left: 1%;
  margin-right: 1%;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


.table {
    border-radius: 5px;
    margin: 0px auto;
    float: none;

}

.logo1{
  width: 3%;

  margin-left: 1%;
}


.logos{
  position: absolute;
  top: 0;
  right: -10;
  margin-left: 1%;
}

.bottom1{
  margin-bottom: 2%;
}

.video{
  width:100%;
  height:550px;
}
